body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.photo-movie {
    background-image: url("5-filmy-marvel.jpg");
    position: relative;
    background-attachment: fixed;
    padding-bottom: 3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-movie::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.9;
}


.photo-currency {
    background-image: url("maney.png");
    position: relative;
    padding-bottom: 3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-currency::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.9;
}


.photo-weather {
    background-image: url("weather.jpg");
    position: relative;
    background-attachment: fixed;
    padding-bottom: 3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo-weather::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.9;
}

.box-movie {
    display: flex;
    text-align: center;
    position: relative;

}

.row {
    display: flex;
    justify-content: space-between;
}

.link-movie {
    display: inline-block;
    color: #fdfdfe;
    margin-bottom: 1%;
    max-width: 250px;
}

.link-movie:hover {
    color: #800000;
    transition: all .5s ease
}

.movie {
    outline: none;
}

.movie:hover {
    text-decoration: none;
}

.img-movie {
    padding-top: 15%;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: #800000;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;

}

span {
    margin: 0 20px;
}

h1::before, h1::after {
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #800000;
    display: inline-block;
}

.currency-box {
    display: flex;
    justify-content: space-between;
}

.box-left {
    width: 100%;
}

.box-right {
    width: 100%;
    text-align: right;
}

.line {
    position: relative;
    color: #dfdfdf;
    font-size: 18px;
    padding-bottom: 5px;
}

.but-cur {
    position: relative;
    text-align: center;
    display: block;
    margin: 3%;
}

.sho {
    position: relative;
    color: #fdfdfe;
}

.weat {
    text-align: center;
    display: block;
    padding-top: 100px;
}

/*footer*/
.footer-bottom {
    padding: 40px 0 30px;
    border-top: 1px solid #666;
    background: #1e1e1e;
}

.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
}

.social-link li {
    display: inline-block;
    margin: 0 5px;
}

.social-link li a {
    color: #ccc;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}

.lisgr {
    padding-bottom: 30px;
}

/*end footer*/


.h2-weat {
    color: #fdfdfe;
    text-align: center;
    padding-bottom: 15px;
}


.b-temp, .p-temp {
    color: #fdfdfe !important;
}

.show {
    color: #fdfdfe;
}

.jq {
    width: 90%;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #1e1e1e;
    opacity: 90%;
    padding: 20px;
}